<div class="container" id="aboutSection">
  <div class="row">
    <h1>About us</h1>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="img-box">
        <img loading="lazy" src="./assets/drive-download-20241119T161356Z-001/about-1.jpg" class="img-fluid" alt="">
        <img loading="lazy" src="./assets/drive-download-20241119T161356Z-001/about-2.jpg" class="corner-img" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <img loading="lazy" src="./assets/drive-download-20241119T161356Z-001/bg-tree.png" class="section-bg-img" alt="">
      <h4>Lorem ipsum dolor sit amet.</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non natus, delectus quasi beatae, corrupti ad sit eius
        perspiciatis autem quisquam esse, corporis nemo iusto distinctio quas impedit facilis libero consequuntur.
        Officia at ipsam neque quo optio recusandae dolores esse in ad inventore atque, eos maiores excepturi error
        sequi soluta sed.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non natus, delectus quasi beatae, corrupti ad sit eius
        perspiciatis autem quisquam esse, corporis nemo iusto distinctio quas impedit facilis libero consequuntur.
        Officia at ipsam neque quo optio recusandae dolores esse in ad inventore atque, eos maiores excepturi error
        sequi soluta sed.</p>
      <a href="" class="section-btn">Discover more</a>
    </div>
  </div>
</div>
